<nav>
    <div class="site-title">
        <a href="/"><h1>MaderPader Blogs</h1></a>
        <p>A MaderPader Blog site!</p>
    </div>
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/blogs/create">Create Blog</a></li>
    </ul>
</nav>