<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>


    <div class="about content">
        <h2>About us</h2>
        <p>lorem ipsum dolor, bla bla bla bla bla bla blabla bla bla bla bla blab labl ablalb abl abl</p>
        <p>lorem ipsum dolor, bla bla bla bla bla bla blabla bla bla bla bla blab labl ablalb abl abl</p>
        <p>lorem ipsum dolor, bla bla bla bla bla bla blabla bla bla bla bla blab labl ablalb abl abl</p>
        <p>lorem ipsum dolor, bla bla bla bla bla bla blabla bla bla bla bla blab labl ablalb abl abl</p>
        <p>lorem ipsum dolor, bla bla bla bla bla bla blabla bla bla bla bla blab labl ablalb abl abl</p>
        <p>lorem ipsum dolor, bla bla bla bla bla bla blabla bla bla bla bla blab labl ablalb abl abl</p>
        <p>lorem ipsum dolor, bla bla bla bla bla bla blabla bla bla bla bla blab labl ablalb abl abl</p>
        <p>lorem ipsum dolor, bla bla bla bla bla bla blabla bla bla bla bla blab labl ablalb abl abl</p>
        <p>lorem ipsum dolor, bla bla bla bla bla bla blabla bla bla bla bla blab labl ablalb abl abl</p>
        <p>lorem ipsum dolor, bla bla bla bla bla bla blabla bla bla bla bla blab labl ablalb abl abl</p>
        <p>lorem ipsum dolor, bla bla bla bla bla bla blabla bla bla bla bla blab labl ablalb abl abl</p>
        <p>lorem ipsum dolor, bla bla bla bla bla bla blabla bla bla bla bla blab labl ablalb abl abl</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>